@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");
body {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

body,
html {
  height: 100vh;
}

a {
  text-decoration: none;
}

.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.page .header {
  grid-area: 1/1/2/2;
}
.page .footer {
  grid-area: 3/1/4/2;
}
.page main {
  grid-area: 2/1/3/2;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1110px;
}
@media (min-width: 1200px) {
  .container {
    width: 1110px;
  }
}

.backDark {
  background-color: #2B2B2B;
  color: #ffffff;
}

.section__80 {
  padding: 80px 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 50px;
  border-radius: 20px;
  border: none;
  font-size: 1em;
  font-weight: 140%;
  transition: background 0.3s ease, color 0.3s ease;
}
.btn svg, .btn img {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}
.btn--dark {
  background: #3B3B3B;
  color: #ffffff;
}
.btn--dark:hover {
  background: #2B2B2B;
}
.btn--blue {
  background: #A259FF;
  color: #ffffff;
}
.btn--blue:hover {
  background: #9440ff;
}
.btn--light {
  background: #ffffff;
  color: #2B2B2B;
}
.btn--light:hover {
  background: #2B2B2B;
  color: #ffffff;
}
.btn--border {
  border: 2px solid #A259FF;
  background: transparent;
  color: #ffffff;
}
.btn--border:hover {
  border-color: #9440ff;
}

.title {
  font-family: Work Sans;
  font-size: 1.375em;
  line-height: 120%;
  font-weight: 600;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .title {
    font-size: 2.375em;
  }
}
@media (min-width: 992px) {
  .title {
    font-size: 3.2em;
    line-height: 110%;
  }
}
.title ~ p {
  padding-top: 10px;
  font-size: 1.375em;
  font-weight: 400;
  line-height: 160%;
}

.header {
  background-color: #2B2B2B;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #ffffff;
  font-weight: 600;
}
.header__logo {
  max-height: 32px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav__list {
  display: none;
  gap: 10px;
}
.nav__list li {
  display: flex;
  align-items: center;
}
@media (min-width: 1200px) {
  .nav__list {
    display: flex;
  }
}
.nav__link {
  display: block;
  padding: 20px;
  color: #ffffff;
  font-weight: 600;
  transition: -webkit-text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
}
.nav__link:hover {
  text-decoration: underline;
}
.nav__burger {
  position: relative;
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}
@media (min-width: 1200px) {
  .nav__burger {
    display: none;
  }
}
.nav__burger div {
  width: 24px;
  height: 2px;
  border-radius: 6px;
  background-color: #ffffff;
}
.nav__burger::after, .nav__burger::before {
  position: absolute;
  content: "";
  display: block;
  border-radius: 6px;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
}
.nav__burger::after {
  bottom: 3px;
}
.nav__burger::before {
  top: 3px;
}

.footer {
  padding: 40px 0;
  background: #3B3B3B;
  color: #CCC;
}
.footer__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 1.375em;
  font-weight: 700;
  line-height: 160%;
}
@media (min-width: 1110px) {
  .footer__title {
    margin-bottom: 25px;
  }
}
.footer__wrap:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  border-bottom: 1px solid #858584;
  padding-bottom: 30px;
}
@media (min-width: 1110px) {
  .footer__wrap:first-child {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__wrap:last-child {
  padding-top: 20px;
}
.footer__logo {
  margin-bottom: 20px;
}
@media (min-width: 1110px) {
  .footer__logo {
    margin-bottom: 30px;
  }
}
.footer__logo img {
  width: auto;
  height: 32px;
}
.footer__social {
  margin-top: 20px;
}
.footer__nav a {
  color: #ccc;
  transition: -webkit-text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
}
.footer__nav a:hover {
  text-decoration: underline;
}
.footer__nav li:not(:last-child) {
  margin-bottom: 20px;
}
.footer__form-email {
  margin-top: 40px;
}

.account-form {
  display: none;
}
.account-form.active {
  display: block;
}
.account-form__label {
  display: grid;
  grid-template-columns: 20px 200px;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 12px;
  padding-left: 20px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #858584;
}
.account-form__label:not(:last-child) {
  margin-bottom: 15px;
}
.account-form__label input {
  width: 100%;
  padding: 13px 20px 13px 0;
  border: none;
  font-size: 1em;
  line-height: 140%;
  color: #2B2B2B;
}
.account-form__label input:focus-visible {
  outline: none;
}
.account-form__btn {
  width: 100%;
}
.account-form__reg {
  display: block;
  margin: 15px auto 0;
  border: none;
  background: transparent;
  color: #A259FF;
  transition: color 0.3s ease;
}
.account-form__reg:hover {
  color: #ffffff;
}

.social__list {
  display: flex;
  gap: 10px;
}
.social h6 {
  margin-bottom: 15px;
}

.form-email__wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 46px);
  gap: 1rem;
  border-radius: 20px;
}
@media (min-width: 1110px) {
  .form-email__wrap {
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr;
  }
}
.form-email__wrap input[type=email] {
  grid-area: 1/1/2/2;
  max-height: 46px;
  padding-left: 20px;
  border: none;
  border-radius: 20px;
  color: #2B2B2B;
  font-size: 1em;
  font-weight: 400;
  line-height: 140%;
}
.form-email__wrap input[type=email]:focus-visible {
  outline: none;
}
@media (min-width: 1110px) {
  .form-email__wrap input[type=email] {
    grid-area: 1/1/2/3;
    max-height: 55px;
    border-radius: 20px 0px 0px 20px;
  }
}
.form-email__wrap .btn {
  width: 100%;
  position: relative;
  left: 2px;
  bottom: 1px;
  grid-area: 2/1/3/2;
  background-color: #A259FF;
}
.form-email__wrap .btn:hover {
  background-color: #8526ff;
}
@media (min-width: 1110px) {
  .form-email__wrap .btn {
    grid-area: 1/2/2/4;
    background-color: #3B3B3B;
  }
  .form-email__wrap .btn:hover {
    background-color: #222222;
  }
}

.user__content {
  background: #2b2b2b;
}
@media (min-width: 768px) {
  .user__content {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .user__content {
    gap: 60px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) and (min-width: 1281px) {
  .user__content {
    justify-content: center;
  }
}
.user__wrap {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 30px 0 40px;
}
@media (min-width: 768px) {
  .user__wrap {
    width: 325px;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .user__wrap {
    width: 460px;
  }
}
.user__form {
  margin: 30px 0 0;
}
.user__back {
  display: flex;
  max-height: 600px;
}
.user__back img {
  -o-object-fit: cover;
  object-fit: cover;
}
.user__wallet-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 14px 20px;
  border-radius: 20px;
  border: 1px solid #a259ff;
  background: #3b3b3b;
  color: #fff;
  font-size: 1.375em;
  font-style: normal;
  font-weight: 600;
}
.user__wallet-btn img {
  width: 32px;
  height: 32px;
}
/*# sourceMappingURL=wallet.css.map */
