.home {
  &__categories-wrap {
    margin-top: 60px;
  }

  &__block-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__timer {
    // background:url(../../../source/src/images/mushroom.jpg);
    padding-top: 130px;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0.00) 0%, #A259FF 100%), url(../../../source/src/images/mushroom.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 100%, cover;
    background-position-x: center;
    @media(min-width: $medium) {
      padding-top: 240px;
    }

    &-wrap {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;

      @media(min-width: $medium) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        align-items: flex-end;
      }

    }

    &-desc {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-bottom: 1.875rem;
    }

    &-author {
      width: fit-content;
      padding: 10px 20px;
      border-radius: 20px;
      background: #3B3B3B;


      & img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        padding-right: 12px;
      }

      & span {
        vertical-align: super;
      }
    }

    &-timer {
      max-width: fit-content;
      margin-bottom: 30px;

      @media (min-width:$medium) {
        margin-bottom: 0;
        margin-left: auto;
        grid-area: 1/2/3/3;
        
      }
    }

    &-btn {
      @media (min-width:$large) {
        grid-area: 2/1/3/2;
      }
    }
  }

  &__work {
    &-creators {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;

      @media (min-width:$medium) {
        flex-direction: row;
      }


    }

    &-creator {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;
      padding: 20px;
      border-radius: 20px;
      background: #3B3B3B;

      @media (min-width:$medium) {
        display: block;
        width: 30%;
        padding: 10px 30px 30px;
      }

      @media (min-width:1110px) {
        width: 330px;
      }

      &-avatar {

        width: 100px;
        height: 100px;

        @media (min-width:$medium) {
          width: 160px;
          height: 160px;
          margin: 0 auto 20px;
        }

        @media (min-width:1110px) {
          width: 250px;
          height: 250px;
        }
      }

      &-desc {

        @media (min-width:$medium) {
          text-align: center;
        }



        & h6 {
          margin-bottom: 10px;
          font-size: 1.375em;
          font-weight: 600;
          line-height: 140%;
        }

        & p {
          font-size: 1em;
          line-height: 140%;
        }
      }

    }
  }

  &__join {
    padding: 40px 0 80px;

    &-form-email {
      .form-email__wrap {
        display: grid;
        grid-template-columns: 1fr auto auto;

        gap: 1rem;
        border-radius: 20px;

        & input[type="email"] {
          grid-area: 1/1/2/3;
          max-height: 46px;
          padding-left: 20px;
          border: none;
          border-radius: 20px;
          color: $background;
          font-size: 1em;
          font-weight: 400;
          line-height: 140%;

          @media (min-width:1110px) {
            grid-area: 1/1/2/3;
            max-height: 56px;
            border-radius: 20px 0px 0px 20px;
          }
        }

        & .btn {
          width: 100%;
          position: relative;
          left: 2px;
          bottom: 0;
          grid-area: 1/2/2/4;
          background-color: $ActionColor;

          &:hover {
            background-color: darken($ActionColor, 10);
          }

          @media (min-width:1110px) {
            grid-area: 1/2/2/4;
            background-color: $secondaryBackground;

            &:hover {
              background-color: darken($secondaryBackground, 10);
            }
          }
        }
      }

    }

    &-block {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      border-radius: 20px;
      padding: 60px;
      background: $secondaryBackground;


      @media (min-width:$medium) {
        flex-direction: row;
        gap: 80px;
      }

      & img {
        width: 300px;
        border-radius: 20px;

        @media (min-width:1110px) {
          width: 425px;
        }


      }
    }

    &-form-email {
      margin-top: 40px;
    }
  }

  &__btn {
    width: 100%;
    margin: 40px auto 0;

    @media (min-width:$small) {
      width: initial;
    }

    @media (min-width:$large) {
      grid-area: 1/2/2/3;
      margin: 0 0 60px;
    }

  }

  &__content {
    @media (min-width:$large) {
      grid-area: 2/1/3/3;
      margin: 0 0 60px;
    }
  }

  &__wrap {

    @media (min-width:$large) {
      display: grid;
      grid-template-rows: auto 1fr;
      grid-auto-columns: auto minmax(min-content, 245px);
      align-items: flex-start;
    }
  }

}