.titleHome {
    font-family: Work Sans;
    font-size: 1.75em;
    text-transform: capitalize;

    @media (min-width:$medium) {
        font-size: 2.375em;

    }

    @media (min-width:$large) {
        font-size: 4.2em;
        font-weight: 600;
        line-height: 110%;


    }
}