$background:#2B2B2B;
$secondaryBackground : #3B3B3B;
$ActionColor : #A259FF;
$textColor : #ffffff;
$labelTextColor : #858584;
$blueAccent:#377DF7;
$redAccent:#FF7262;

$small :576px;
$medium:768px;
$large:992px;
$extraLarge:1200px;




%font {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}