.account-form {

    &__label {
        display: grid;
        grid-template-columns: 20px 200px;
        grid-template-rows: 1fr;
        align-items: center;
        gap: 12px;
        padding-left: 20px;
        background: #fff;
        border-radius: 20px;
        border: 1px solid #858584;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
        & input{
            width: 100%;
            padding:  13px 20px 13px 0;
            border:none;
            font-size: 1em;
            line-height: 140%;
            color:#2B2B2B;
            &:focus-visible{
                outline: none;
            }
        }
    }
    &__btn{
        width: 100%;

    }

}