.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: fit-content;
    padding: 20px 50px;
    border-radius: 20px;
    border: none;
    font-size: 1em;
    font-weight: 140%;
    transition: background 0.3s ease, color 0.3s ease;

    & svg,
    & img {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
    }

    &--dark {
        background: $secondaryBackground;
        color: $textColor;
        &:hover{
            background:$background;
        }

    }
    &--blue{
        background: $ActionColor;
        color: $textColor;
        &:hover{
            background:darken( $ActionColor,5 )
        }
    }
    &--light{
        background: $textColor;
        color: $background;
        &:hover{
            background:$background;
            color: $textColor;
        }
    }
    &--border{
        border: 2px solid $ActionColor;
        background:transparent;
        color:$textColor;
        &:hover{
            border-color:darken( $ActionColor,5 )
        }
    }

}