.collection {
    max-width: 100%;

    &:nth-child(2),
    &:last-child {
        display: none;

      
    }
    @media (min-width:$medium) {
        &:nth-child(2){
            display: block;
        }
    

    }
    @media (min-width:1110px) {
        max-width: 33%;
     
        &:last-child {
            display: block;
    
          
        }

    }

    @media (min-width:1110px) {
        max-width: 33%;

    }



    &__link {
        display: flex;
        gap: 15px;
        justify-content: space-between;


        & li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            border-radius: 20px;
            cursor: pointer;
            overflow: hidden;

            &:last-child {
                background-color: $ActionColor;
                color: $textColor;
                transition: background ease 0.3s;

                &:hover {
                    background-color: darken($ActionColor, 10);
                }
            }
        }


    }

    &__img {
        margin-bottom: 15px;
    }

    &__desc {
        padding: 15px 0;
    }

    &__author {
        & h4 {
            font-size: 1.375em;
            font-weight: 700;
        }

        &-name {
            font-size: 1em;
        }

        &-info {
            display: flex;
            align-items: center;
            margin-top: 10px;
            gap: 12px;
        }

        &-icon {
            flex-shrink: 0;
            width: 24px;
        }
    }

}